{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Products</title>
</head>
<body>
    <div class="container-fluid py-5">
        <!-- For demo purpose -->
        <div class="row mb-4">
          <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4">Product AJAX CRUD Operations</h1>
            <p class="lead mb-0">A Simple Product Inventory for Creating, Reading, Updating <br> & Deleting Product Information</p>
          </div>
        </div>
    </div>

    <div class="container">
        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-label="Close">&times;</span>
                </div>
                {% endfor %} 
            {% endif %}
        </center>
        <div class="row">
            <div class="col-sm-12">
                <table id="Product-Records" class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="product-{{product.id}}">
                        {% if products %}
                        {% for product in products %}
                        <th id>{{product.id}}</th>
                        <td class="productName productData">{{product.name}}</td>
                        <td class="productCategory productData">{{product.category}}</td>
                        <td class="productQuantity productData">{{product.quantity}}</td>
                        <td class="productPrice productData">{{product.price}}</td>
                        <td>
                            <a href="#" class="text-priamry">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8s11 8 11 8s-4 8-11 8s-11-8-11-8z"/><circle cx="12" cy="12" r="3"/></g></svg>
                            </a>
                            <a href="#" class="text-success">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1l1-4l9.5-9.5z"/></g></svg>
                            </a>
                            <a href="#" class="text-danger"> 
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 6h18"/><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/><path d="M10 11v6"/><path d="M14 11v6"/></g></svg>
                            </a>
                        </td>
                        {% endfor %}
                        {% endif %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-outline-primary btn-md" data-bs-toggle="modal" data-bs-target="#addProduct" id="product-create">Add Product</button>
            </div>
        </div>
    </div>

    <!-- Add Product Modal -->
    <div class="container">
        <div class="modal fade" id="addProduct" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addProduct" action="">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                        <input type="text" class="form-control" id="p-name" name="name" placeholder="Product Name" required>
                        </div>
                        <div class="form-group mb-3">
                            <select class="form-control form-select" aria-placeholder="Category" id="p-category" name="category" required>
                                <option selected disabled>Category</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Toys">Toys</option>
                                <option value="Hardware">Hardware</option>
                                <option value="Medicine">Medicine</option>
                                <option value="Groceries">Groceries</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <input type="number" class="form-control" id="p-quantity" name="quantity" placeholder="Quantity" required>
                        </div>
                        <div class="form-group mb-3">
                            <input type="number" class="form-control" id="p-price" name="price" placeholder="Price" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-outline-primary" id="p-create">Save changes</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Edit Product Modal -->
    <div class="container">
        <div class="modal fade" id="editProduct" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addProduct" action="">
                        <div class="form-group mb-3">
                        <input type="text" class="form-control" id="p-name" name="name" placeholder="Product Name" required>
                        </div>
                        <div class="form-group mb-3">
                            <select class="form-control form-select" aria-placeholder="Category" id="p-category" name="category" required>
                                <option selected disabled>Category</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Toys">Toys</option>
                                <option value="Hardware">Hardware</option>
                                <option value="Medicine">Medicine</option>
                                <option value="Groceries">Groceries</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <input type="number" class="form-control" id="p-quantity" name="quantity" placeholder="Quantity" required>
                        </div>
                        <div class="form-group mb-3">
                            <input type="number" class="form-control" id="p-price" name="price" placeholder="Price" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-outline-primary" id="p-edit">Save changes</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Delete Product Modal -->
    <div class="container">
        <div class="modal fade" id="deleteProduct" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
            </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src={% static "js/script.js" %}></script>
</body>
</html>